*{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.external-styling {
	color:yellow;
}

h1 {
	font-size:50px;
}

h2 {
	text-transform: uppercase;
}


.offered-languages {
	background-color: darkseagreen;	
}

li[target]  {
		border-style: solid;
		border-width: 1px;
		border-color: blue;
	}


div img {
	height: 15vh;
	border-radius: 50%;
}
	
div > ul {
	letter-spacing:5px;
	list-style-type: none; 
}

div ~ p	{
	text-align:center;
}
